    <!-- ##### Breadcumb Area Start ##### -->
    <div
      class="breadcumb-area bg-img"
      style="background-image: url(img/bg-img/bg-8.jpg);"
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-md-6">
            <div class="breadcumb-text">
              <h2>Children Ministry</h2>
              <p>
                "Train up a child in the way he should go; even when he is old
                he will not depart from it." Proverbs 22:6
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Ministries Area Start ##### -->
    <section class="ministries-area section-padding-100-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-heading text-center mx-auto">
              <img src="img/core-img/cross.png" alt="" />
              <h3>BBC Children Ministry</h3>
              <p class="align-justify">
                The children’s department of Bethel Bible Church has become a
                foundational premises for our children, teens and even most of
                the committed workers that we have present in the adult church
                today.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
         <!-- Single Ministry Area -->
          <div class="col-12 col-md-6">
            <div class="single-ministry children-img mb-100">
              <img
                src="img/Children.jpg"
                alt=""
              
              />
            </div>
          </div>
          <!-- Single Ministry Area -->
          <div class="col-12 col-md-6">
            <div class="single-ministry mb-100">
              <!-- <img src="img/bg-img/m1.jpg" alt=""> -->
              <div class="ministry-content">
                <h6>More about us</h6>
                <p class="align-justify">
                  The department, blessed with spirit-filled, devoted, trained
                  and children-loving teachers has proven to be a place where
                  the next generation of the family, church and nation at large
                  are trained, nurtured and disciple. The department is made up
                  of seven (7) classes with unique names and age bracket which
                  includes:
                  <br />
                  &nbsp;&nbsp;&nbsp;&nbsp;•The Foundation Class (0 – 4)<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;•Litter Gems (5 – 7)<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;•Achievers Class (8 – 9)<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;•Great Minds (9 – 10)<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;•Champions (11 – 12)<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;•Magnificent Junior High (13 – 14)<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;•Godly Teens (15 and Above)<br />

                  Our goal in the department is to raise a generation of young
                  people who will take their stand for God in every sphere of
                  life as they develop into mature Christian adults. In
                  achieving this goal, we pride in our deep and in-depth
                  teaching of the Word, singing and dancing to spirit led
                  children songs, a series of programmes and activities geared
                  towards grooming and building up a wholistic children who will
                  grow to know and do exploits for God.
                </p>
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </section>
