
    <!-- ##### Hero Area Start ##### -->

    <div class="hero-slides owl-carousel">
      <!-- Single Hero Slide -->
      <div
        class="single-hero-slide bg-img bg-overlay"
        style="background-image: url(img/H-Welcome-to-Bethel-Bible-Church.jpg);"
      >
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-end">
            <div class="col-12 col-lg-7">
              <!-- Slides Content -->
              <div class="hero-slides-content">
                <h6 class="date" data-animation="fadeInUp" data-delay="100ms">
                  Welcome to
                </h6>
                <!-- <h3 data-animation="fadeInUp" data-delay="300ms"></h3> -->
                <h2 data-animation="fadeInUp" data-delay="500ms">
                  Bethel Bible Church
                </h2>
                <p data-animation="fadeInUp" data-delay="700ms">
                  Sitting on the word of God to deliver nations through raising
                  Kingdom builders.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Event Button -->
        <div
          class="next-event-btn"
          data-animation="bounceInDown"
          data-delay="900ms"
        >
          <div class="container">
            <div class="row">
              <div class="col-12 text-right">
                <a href="#" class="btn faith-btn active"
                  >Sunday Service: 7:30 AM</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Hero Slide -->
      <div
        class="single-hero-slide bg-img bg-overlay"
        style="background-image: url(img/H-Theme-of-the-Month.jpg);"
      >
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-end">
            <div class="col-12 col-lg-7">
              <!-- Slides Content -->
              <div class="hero-slides-content">
                <h6 class="date" data-animation="fadeInUp" data-delay="100ms">
                  October Theme
                </h6>
                <!-- <h3 data-animation="fadeInUp" data-delay="300ms">Enthroning God</h3> -->
                <h2 data-animation="fadeInUp" data-delay="500ms">
                  Enthroning God
                </h2>
                <p data-animation="fadeInUp" data-delay="700ms">
                  Whenever we Enthrone God in our Being, we Enjoy the Flow of
                  Water of Life Within us!.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Event Button -->
        <div
          class="next-event-btn"
          data-animation="bounceInDown"
          data-delay="900ms"
        >
          <div class="container">
            <div class="row">
              <div class="col-12 text-right">
                <a href="#" class="btn faith-btn active"
                  >Sunday Service: 7:30 AM</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Hero Slide -->
      <div
        class="single-hero-slide bg-img bg-overlay"
        style="background-image: url(img/H-Thanksgiving-Sunday.jpg);"
      >
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-7">
              <!-- Slides Content -->
              <div class="hero-slides-content">
                <h6 class="date" data-animation="fadeInUp" data-delay="100ms">
                  Last Sunday of the month
                </h6>
                <!-- <h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3> -->
                <h2 data-animation="fadeInUp" data-delay="500ms">
                  Thanksgiving Sunday
                </h2>
                <p data-animation="fadeInUp" data-delay="700ms">
                  We reserve this special sunday to thank God for his
                  faithfulness throughout the month, celebrate with our bithday,
                  wedding adniversary celebrates and other personal
                  thanksgivings.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Event Button -->
        <div
          class="next-event-btn"
          data-animation="bounceInDown"
          data-delay="900ms"
        >
          <div class="container">
            <div class="row">
              <div class="col-12 text-right">
                <a href="#" class="btn faith-btn active"
                  >Sunday Service: 7:30 AM</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="faith-about-area section-padding-100-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="about-content">
              <img src="img/core-img/holy-star.png" alt="" />
              <h2>“October Theme : <br />enthroning God in your life.”</h2>
              <h6>
                1 Chron 13:6 David, accompanied by all of Israel, went up to
                Baalah (the former name of Kiriath-jearim), which belonged to
                Judah, to bring from there the Ark of God, the LORD, who sits
                enthroned on the cherubim, and who is called the Name.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### About Area End ##### -->

    <!-- ##### Church Activities Area Start ##### -->
    <section class="church-activities-area section-padding-100-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-heading text-center mx-auto">
              <img src="img/core-img/cross.png" alt="" />
              <h3>Church Activities</h3>
              <p>
                Every Week, our congregation participates in the following
                activities. These are all wonderful ways to connect with each
                other and with God,through prayer, worship and word of God! We
                hope you will participate in all these activities with us
                throughout the week. The best way to be informed about these
                activities is to be on our Newsletter and E-news mailing list...
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <!-- Upcoming Events -->
            <div class="upcoming-events mb-100">
              <!-- Headline -->
              <div class="headline">
                <h5>Upcoming Events</h5>
              </div>

              <!-- Single Upcoming Events -->
              <div class="single-upcoming-events d-flex align-items-center">
                <!-- Events Date & Thumbnail -->
                <div class="event-date-thumbnail d-flex align-items-center event">
                  <div class="event-date">
                    <h6>Sundays</h6>
                  </div>
                  <div class="events-content">
                  <a href="#">
                    <h6>Sunday Service</h6>
                  </a>
                  <p>7:30 am</p>
                </div>
                  
                </div>
                <!-- Events Content -->
                <div class="event-thumbnail u-events event-img">
                    <img
                      class="u-img"
                      id="u-sunday"
                      src="img/upcoming-events/U-Sunday-Service.jpg"
                    />
                </div>
              </div>

              <!-- Single Upcoming Events -->
              <div class="single-upcoming-events d-flex align-items-center">
                <!-- Events Date & Thumbnail -->
                <div class="event-date-thumbnail d-flex align-items-center event">
                  <div class="event-date">
                    <h6>
                      Every <br />
                      Tuesday
                    </h6>
                  </div>
                 <div class="events-content">
                  <a href="#">
                    <h6>Bible Study</h6>
                  </a>
                  <p>6:00 pm</p>
                </div>
                </div>
                <!-- Events Content -->
                  <div class="event-thumbnail u-events event-img">
                    <img
                      class="u-img"
                      src="img/upcoming-events/U-Bible-Study.jpg"
                      id="u-bible"
                    />
                  </div>
              </div>

              <!-- Single Upcoming Events -->
              <div class="single-upcoming-events d-flex align-items-center">
                <!-- Events Date & Thumbnail -->
                <div class="event-date-thumbnail d-flex align-items-center event">
                  <div class="event-date">
                    <h6>
                      Every <br />
                      Thursday
                    </h6>
                  </div>
                  <!-- Events Content -->
                  <div class="events-content">
                    <a href="#">
                      <h6 class="hd">Healing&Deliverance</h6>
                    </a>
                    <p>8:00 am & 6:00 pm</p>
                  </div>
                </div>
                <div
                    class="event-thumbnail u-events event-img"
                  >
                  <img 
                  class="u-img"
                  src="img/upcoming-events/U-Healing-&-Deliverance.jpg"
                  />
                  </div>
              </div>

              <!-- Single Upcoming Events -->
              <div class="single-upcoming-events d-flex align-items-center">
                <!-- Events Date & Thumbnail -->
                <div class="event-date-thumbnail d-flex align-items-center event">
                  <div class="event-date">
                    <h6 class="lf">
                      Last Friday of the Month
                    </h6>
                  </div>

                  <div class="events-content">
                    <a href="#">
                      <h6 class="hd">Liberation Night (VIGIL)</h6>
                    </a>
                    <p class="lf-time">11:00 pm</p>
                  </div>
                </div>
                <div
                    class="event-thumbnail u-events event-img"
                  >
                    <img 
                    class="u-img"
                    src="img/upcoming-events/U-Liberation-Night.jpg" />
                  </div>
              </div>

              <div class="all-events-btn">
                <a href="/all-events" class="btn faith-btn active"
                  >See All Events</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Latest Sermons -->
            <div class="latest-sermons mb-100">
              <div class="headline">
                <h5>Latest Sermons</h5>
              </div>
              <div id="latest-serms"></div>
              <!-- Single Sermons Area -->
              <div class="all-events-btn">
                <a href="/sermons" class="btn faith-btn active"
                  >See All Sermons</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### Church Activities Area End ##### -->
    <section
      class="donate-our-charities section-padding-100 bg-img bg-overlay"
      style="background-image: url(img/bg-img/bg-3.jpg);"
    >
      <div class="container">
        <div class="col-12">
          <div class="section-heading white text-center mx-auto">
            <img src="img/core-img/cross.png" alt="" />
            <h3>Our Ministries</h3>
            <p>
              As we seek to connect each person to Christ, we are committed to
              helping you find the place of service that fits your passion and
              your giftedness. Our goal is not to just fill slots; our goal is
              to have every person be able to say, “I know I’m right where God
              wants me to be because I love this and God’s given me a passion
              for it!”.
            </p>
          </div>
        </div>

        <div>
          <div class="donate-slides owl-carousel">
            <!-- Single Donate Slide Area -->
            <div class="single-donate-slide">
              <img src="img/Women.jpg" alt="" />
              <!-- Donate Content -->
              <div class="donate-content">
                <h4>Women</h4>
                <p>Renovate the Church</p>
              </div>
              <!-- Donate Button -->
              <div class="donate-btn text-center">
                <a href="/women-ministry" class="btn faith-btn active"
                  >See more</a
                >
              </div>
            </div>

            <!-- Single Donate Slide Area -->
            <div class="single-donate-slide">
              <img src="img/Men.jpg" alt="" />
              <!-- Donate Content -->
              <div class="donate-content">
                <h4>Men</h4>
                <p>Men in the church</p>
              </div>
              <!-- Donate Button -->
              <div class="donate-btn text-center">
                <a href="/men-ministry" class="btn faith-btn active"
                  >See more</a
                >
              </div>
            </div>

            <!-- Single Donate Slide Area -->
            <div class="single-donate-slide">
              <img src="img/Youths.jpg" alt="" />
              <!-- Donate Content -->
              <div class="donate-content">
                <h4>Youth</h4>
                <p>For the young</p>
              </div>
              <!-- Donate Button -->
              <div class="donate-btn text-center">
                <a href="/youth-ministry" class="btn faith-btn active"
                  >See more</a
                >
              </div>
            </div>

            <!-- Single Donate Slide Area -->
            <div class="single-donate-slide">
              <img src="img/Children.jpg" alt="" />
              <!-- Donate Content -->
              <div class="donate-content">
                <h4>Children</h4>
                <p>For the kids</p>
              </div>
              <!-- Donate Button -->
              <div class="donate-btn text-center">
                <a href="/children-ministry" class="btn faith-btn active"
                  >See more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
