<div class="church-online">
    <div class="church-online-container">
        <div class="countdown">
            <h2 class="heading-text" id="heading">Next Service Begins in</h2>
            <div class="events-cd text" id="timer"></div>
        </div>

        <div class="church-online-main tv " id="tv">
           <img src="../../img/sunday-service.jpg">
        </div>

        <div class="breadcumb-area bg-img hero-area" id="live-sermon-iFrame">
            <div class="iF" id="iF"></div>
        </div>
    </div>
</div>