<div class="church-online">
    <div class="church-online-container">
        <div class="countdown">
            <h2 class="heading-text">Next Service Begins in</h2>
            <div class="events-cd text" id="timer"></div>
        </div>

        <div class="church-online-main row">
            <div class="col-md-8">
                <div class="mini-container">
                    <a href="/bbc-tv" class="full">
                        <div class="video">
                            <div class="play-icon-container">
                                <img src="../../img/play-button.png" class="play-icon" />
                            </div>
                            <div class="video-text-container">
                                <h2 class="video-heading-text">
                                Welcome Home to Church Online!</h2>
                                <p class="video-text">
                                Watch the full experience
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 online-sidebar">
                <div class="online-sidebar-container service-times">
                    <div class="mini-container service-times-content">
                        <div class="inside-container">
                            <div class="times-container">
                                <h4 class="service-times-heading">Service Times</h4>
                                <p class="service-times-text"> Watch LIVE every Sunday and Wednesday!</p>
                                <hr class="service-border">

                                 <a href="">
                    <div class="online-service-times-container">
                        <div class="online-service-day">
                            <span style="color: #999; font-weight: 700;">Sunday</span>
                            <span style="color: red;">LIVE</span>
                        </div>
                        <div class="online-service-time">
                            <span style="color: #222; font-weight: 700;">9:00AM</span>
                            <span class="timezone">CAT</span>
                        </div>
                    </div>
                </a>
                <hr class="service-border">

                <a href="/bbc-tv">
                    <div class="online-service-times-container">
                        <div class="online-service-day">
                            <span style="color: #999; font-weight: 700;">Sunday</span>
                            <span style="color: red;">LIVE</span>
                        </div>
                        <div class="online-service-time">
                            <span style="color: #222; font-weight: 700;">12:30AM</span>
                            <span class="timezone">CAT</span>
                        </div>
                    </div>
                </a>
                <hr class="service-border">

               <a href="/bbc-tv">
                    <div class="online-service-times-container">
                        <div class="online-service-day">
                            <span style="color: #999; font-weight: 700;">Sunday</span>
                            <span style="color: red;">LIVE</span>
                        </div>
                        <div class="online-service-time">
                            <span style="color: #222; font-weight: 700;">7:00PM</span>
                            <span class="timezone">CAT</span>
                        </div>
                    </div>
                </a>
                <hr class="service-border">

                <a href="/bbc-tv">
                    <div class="online-service-times-container">
                        <div class="online-service-day">
                            <span style="color: #999; font-weight: 700;">Wednesday</span>
                            <span style="color: red;">LIVE</span>
                        </div>
                        <div class="online-service-time">
                            <span style="color: #222; font-weight: 700;">7:00PM</span>
                            <span class="timezone">CAT</span>
                        </div>
                    </div>
                </a>
                <hr class="service-border">
                            </div>
                        </div>
                    </div>
                </div>

               

            </div>
        </div>
    </div>
</div>