    <!-- ##### Breadcumb Area Start ##### -->
    <div
      class="breadcumb-area bg-img"
      style="background-image: url(img/bg-img/bg-6.jpg);"
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-md-6">
            <div class="breadcumb-text">
              <h5>Live from church</h5>
              <h2>Sermons</h2>
              <p>May You be Blessed as You listen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Sermons Area Start ##### -->
    <section class="sermons-area section-padding-100-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-heading text-center mx-auto">
              <img src="img/core-img/cross.png" alt="" />
              <h3>The Sermons</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row" id="sermons-container"></div>
          <div class="pagenumbers" id="pagination"></div>

          <!--<div class="all-events-btn">
                    <a href="sermons.html" class="btn faith-btn active">Open Sermons playlist</a>
                  </div>
                -->
        </div>
      </div>
    </section>
