
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>Bethel Bible Church | Home</title>

    <!-- Favicon -->
    <!-- <link rel="icon" href="img/core-img/favicon.ico" /> -->
    <link href="../../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../css/style.css" />
  </head>

  <body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
      <!-- Navbar Area -->
      <div class="faith-main-menu">
        <div class="classy-nav-container breakpoint-off">
          <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="faithNav">
              <!-- Logo -->
              <a class="nav-brand" href="index.html"
                ><img src="../../img/BBC-Logo-1.png" alt=""
              /></a>

              <!-- Navbar Toggler -->
              <div class="classy-navbar-toggler">
                <span class="navbarToggler"
                  ><span></span><span></span><span></span
                ></span>
              </div>

              <!-- Menu -->
              <div class="classy-menu">
                <!-- Close Button -->
                <div class="classycloseIcon">
                  <div class="cross-wrap">
                    <span class="top"></span><span class="bottom"></span>
                  </div>
                </div>

                <!-- Nav Start -->
                <div class="classynav">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/church-online">Church Online</a></li>
                    <li><a href="/about">Who We are</a></li>
                    <li><a href="/sermons">Sermons</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="dropdown" 
                    id="ministries-dropdown" 
                    >
                    <a href="/ministries" class="droplink"
                    
                    >Ministries</a>
                      <div class="dropdown-content" id="ministries-dropdown-content">
                        <a class="sub" href ="/children-ministry">Children Ministry</a>
                        <a class="sub" href ="#">Men Ministry</a>
                        <a class="sub" href ="#">Women Ministry</a>
                        <a class="sub" href ="#">Youth Ministry</a>
                      </div>
                    </li>
                    
                  </ul>
                </div>
                <!-- Nav End -->
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>